---
failure-threshold: info # name of threshold level (error | warning | info | style | ignore | none)
label-schema:
  maintainer: text
  build-date: rfc3339
  git-commit: hash
  version: semver
  description: text
strict-labels: false
ignored:
  - DL3008 # pin versions in apt
  - DL3013 # pin versions in pip
  - DL3015 # use "no-install-recommends" with apt
  - DL3018 # pin versions in apk
